body {
  margin: 30px;
  font-family: "Cormorant", serif;
  background-color: burlywood;
  line-height: 1.75;
}

ul {
  display: inline-block;
  text-align: left;
}

h1 {
  font-family: "Cormorant", serif;
  font-weight: 700;
}

h3 {
  font-family: "Cormorant", serif;
  font-weight: 700;
}

p {
  font-family: "Cormorant", serif;
  font-weight: 500;
}

img {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px 0px #000000;
  box-shadow: 0px 0px 20px 0px #000000;
}
